@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: xx-large;
  font-weight: bolder;
}
h2{
  font-size: x-large;
  font-weight: bold;
}
h3 {
  font-size: medium;
  font-weight: medium;
}
h6 {
  font-size: small;
  font-weight: 300;
}